{% extends "site_base.html" %}
{% block title %}SMS{% endblock %}
{% block extra_head %}
<script type='text/javascript' src="/media/js/jquery-limit.js"></script>
<script type='text/javascript'>
$(document).ready(function() {
	$('#custom_message').limit('160', '#charsLeft');
});
</script>
{% endblock %}
{% block leftcontainer %}
<h2>SMS Message</h2>
<form id="messageactionform" action="#">
<input id='messagetype' type='hidden' name='messagetype' value='sms'>
<input id='msg_id' type='hidden' name='msg_id' value='{{ next_sms_message.pk }}'>
<button type='submit' value='Complete' class='complete'>Complete</button>
<button type='submit' value='Ignore' class='ignore'>Ignore</button>
<button type='submit' value='Custom Message' class='custom'>Custom Message</button>
<div id='custom_message_area'>
<textarea name='custom_message' class='custom_message' id='custom_message'></textarea><br/>
<span id="charsLeft"></span> chars left.
</div>
</form>
<h2>Select the Hospital That this message is From</h2>
<form id='messageform'>
<select name='hospital_id' class='hospital-select'>
{% for hospital in hospitals %}
<option value='{{ hospital.pk }}'>{{ hospital.name }}</option>
{% endfor %}
</select>
<br/><br/>
<button type='submit' value='Bed Capacity' class='capacity'>Bed Capacity</button>
<button type='submit' value='Contacts' class='contacts'>Contacts</button>
<button type='submit' value='Resources' class='resources'>Resources</button>
<button type='submit' value='Services' class='services'>Services</button>
<button type='submit' value='Requests' class='requests'>Requests</button>
<button type='submit' value='Activities' class='activities'>Activities</button>
<button type='submit' value='Status' class='status'>Status</button>
<table border=1>
<tr><td><b>Sender:</b></td><td>{{ next_sms_message.sender }}</td></tr>
<tr><td><b>Message:</b></td><td>{{ next_sms_message.message }}</td></tr>
<tr><td><b>Date Sent:</b></td><td>{{ next_sms_message.date_sent }}</td></tr>
<tr><td><b>Status:</b></td><td>{{ next_sms_message.status }}</td></tr>
<tr><td><b>Status Changed Date:</b></td><td>{{ next_sms_message.status_changed_date }}</td></tr>
</table>

{% endblock %}
{% block rightcontainer %}
<div id='hospitaldataform'></div>
</form>
{% endblock %}
